*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: rgb(41, 41, 41);
  --light-gray: rgb(80, 80, 80);
  --calc-num-color: rgb(235, 235, 235);
}

.main-container {
  display: grid;
  grid-template-columns: auto minmax(400px, 50vw) auto;
  grid-template-rows: auto 85vh auto;
  height: 100vh;
}

.calculator-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--dark-gray);
}

.display-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 5px;
  width: 100%;
  height: 15%;
  background-color: rgb(23, 59, 23);
}

#display {
  color: var(--calc-num-color);
  font-size: 1.5rem;
}

.keypad-container {
  display: grid;
  width: 100%;
  height: 70%;
  background-color: var(--light-gray);
  
}