@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-gray: rgb(24, 24, 24);
  --light-gray: rgb(80, 80, 80);
  --calc-num-color: rgb(235, 235, 235);
}

.main-container {
  display: grid;
  grid-template-columns: auto minmax(350px, 40vw) auto;
  grid-template-rows: auto 80vh auto;
  height: 100vh;
}

.calculator-container {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--dark-gray);
  font-family: 'Roboto Mono', monospace;
  border-radius: 5px;
}

.display-container {
  display: grid;
  grid-template-columns: 93% auto;
  grid-template-rows: 1fr 3fr;
  text-align: right;
  padding: 5px;
  width: 100%;
  height: 20%;
  background: rgb(28,167,0);
  background: linear-gradient(0deg, rgba(28,167,0,1) 0%, rgba(14,85,0,1) 65%); 
  border-radius: 5px;
}

#display {
  color: var(--calc-num-color);
  font-size: 2rem;
  font-family: 'Play', sans-serif;
  overflow: hidden;
}

.display-container #operation {
  grid-column: 1/3;
}

.display-container #operator {
  padding-top: 50%;
}

.keypad-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 15%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: "seven eight nine division backspace"
                       "four five six mult clear"
                       "one two three subs equal"
                       "zero zero decimal add equal";
  gap: 10px;
  width: 100%;
  height: 70%;
}

.keypad-container button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgb(184, 184, 184);
  border: 3px solid rgb(66, 66, 66);
  font-size: 2rem;
  font-weight: 700;
}

.keypad-container #backspace {
  background-color: rgb(255, 53, 38);
  border: 3px solid rgb(255, 11, 11);
} 

.keypad-container #clear {
  background-color: rgb(175, 79, 0);
  border: 3px solid rgb(139, 51, 0);
}

.keypad-container #clear {
  grid-area: clear;
}

.keypad-container #equal {
  grid-area: equal;
}

.keypad-container #zero {
  grid-area: zero;
}